.header{
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-components{
    width: 50%;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-search{
    width:60%;
    border-radius: 20px;
}
.header-icons{
    width: 40%;
    padding: 10px;
    color: white;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}