.dashboard{
    position:relative;
}
.home{
    top:90px;
    left:100px;
    width: 70%;
    height: 85vh;
    position: absolute;
    background-color: #edeef0;
    overflow: scroll;
    gap: 10px;
}
.home::-webkit-scrollbar{
    display: none;
}
.card{
    height: 350px;
    margin: 10px;
}