.forgotPwd-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-family: Roboto;
  }
  
  .forgotPwdImg {
    width: 60%;
  }
  .forgotPwd-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forgotPwd-form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
  }
  
  .forgotPwd-form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
  }
  .forgotPwd-btn-container{
      width: 75%;
  }
  
  .forgotPwd-btn{
      color: white;
      background-color: black;
      border-radius: 10px;
  }
  
  @media (max-width:1200px){
      .forgotPwdImg{
          display: none;
      }
      .forgotPwd-container{
          width: 100%;
      }
  }