.sidebar-container {
  position: relative;
  top: 2px;
  left: 5px;
  width: 90px;
  height: 87vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  overflow: scroll;
  border-radius: 10px;
}
.sidebar-container::-webkit-scrollbar{
  display: none;
}
.sidebar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.sidebar-container span{
    font-size: 15px;
    font-weight: 500;
}
.sidebar-feeds,
.sidebar-explore,
.sidebar-pages,
.sidebar-accounts {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  background-color: #ffffff;
  color: #6e61dc;
  font-size: xx-large;
  border: 1.5px solid rgb(224, 224, 224);
  box-shadow: 1px 0px 3px 0px rgba(138,136,136,0.75);
  border-radius: 10px;
}
